h1{
  color:white;
  text-align: center;
}
body{
  background-color: blue;
}
#saudacao{
  text-align: center;
  font-size: 44px;
}
#endgame{
  text-align: center;
}
#results{
  text-align: center;
  font-size: 44px;
}

h2{
  font-size: 150%;
  display: inline-block;
}
#container{
  width: 100%;
  display: inline-block;

}
#respostas1{
  background: yellow;
  margin-left: auto;
  margin-right: 200px;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid black;
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  vertical-align: top;
  height: 250px;
  color: green;

}
#respostas2{
  background: yellow;
  margin-left: 50px;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid black;
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  vertical-align: top;
  height: 250px;
  color: red;
}
